.markdown-body {
    font-family: 'Noto Sans JP', 'Hiragino Sans', sans-serif;
}

.markdown-body > div {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

main > div {
    border: var(--borderColor-muted) solid 1px;
    border-radius: 0.375rem;
    padding: 0 1.5rem;
    margin: 2rem 0;
}